* {
  margin: auto;
}

.slider-decorator-0, .slider-decorator-1 {
  visibility: hidden;
}

.Header .logo {
  display: block;
  border-radius: 50%;
  padding: 30px;
}

.Header .navigation {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.Header .navigation .item {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.ImageScroller {
  padding: 20px 0px;
  width: 95% !important;
  height: auto !important;
}

.ProductGallery {
  display: flex;
  margin: 2.5%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ProductGallery .item {
  margin: 0;
  width: 31%;
  padding: 20px 0px;
}

.ProductGallery .item:nth-child(3n+2) {
  margin-right: auto;
  padding-left: 2%;
}

@media (max-width: 950px) {
  .ProductGallery .item {
    width: 48%;
  }
  .Header .navigation {
    width: 80%;
  }
}

@media (max-width: 470px) {
  .Header .navigation {
    width: 95%;
  }
  .ProductGallery .item {
    width: 100%;
  }
  .slider-decorator-2 {
    visibility: hidden;
  }
  .slider-decorator-0, .slider-decorator-1 {
    visibility: visible;
  }
}

.ProductGallery img {
  width: 100%;
}
