* {
  margin: auto;
}

.Header .logo {
  display: block;
  border-radius: 50%;
  padding: 30px;
}

.Header .navigation {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.Header .navigation .item {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.ImageScroller {
  padding: 20px 0px;
  width: 95% !important;
  height: auto !important;
}

.ProductGallery {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ProductGallery .item {
  width: 350px;
  padding: 25px 5px;
}
